// COLORS
$color-primary-dark: #233046;
$color-radiant-first: #ff2473;
$color-radiant-second: #de063a;

$color-white: #fff;
$color-black: #000;
$select-arrow: #777;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
