*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 122.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

.heading-primary {
  color: #fff;
}

.heading-secondary {
  font-size: 3.5rem;
}

.intro-header {
  font-size: 60px;
  font-weight: 600;
  color: #de063a;
}

.section-header {
  font-weight: 600;
  font-size: 48px;
}

.section-subtext {
  font-weight: 200;
  font-size: 24px;
}

.section-header-white {
  font-weight: 600;
  font-size: 48px;
  color: #fff;
}

.section-subtext-white {
  font-weight: 200;
  font-size: 24px;
  color: #fff;
}

.question-header {
  font-size: 32px;
  font-weight: 600;
}

.question-text {
  font-size: 24px;
  font-weight: 400;
  margin-left: 15px;
}

.footer {
  background-color: #233046;
  width: 100%;
  bottom: 0;
}
@media only screen and (max-width: 1260px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 620px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.col {
  width: 50%;
  display: flex;
}
@media only screen and (max-width: 1260px) {
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 620px) {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.row {
  display: flex;
  padding: 48px 47px 37px 47px;
}
@media only screen and (max-width: 1260px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 620px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sub-col {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .sub-col > :first-child {
    margin-bottom: 10px;
  }
}

.left-ft-down {
  justify-content: center;
  text-align: center;
  color: white;
}

.right-img {
  margin-left: 88px;
}
@media only screen and (max-width: 800px) {
  .right-img {
    align-items: center;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 620px) {
  .right-img {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.small-header {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.first-list {
  padding-left: 10px;
  color: white;
}

.right-list {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .right-list {
    width: 100%;
  }
}

.left-list {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .left-list {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.footer-link:hover {
  color: beige;
}

.header {
  padding: 20px 50px 17px 50px;
  position: relative;
  background-color: #233046;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 755px) {
  .header {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header > :first-child {
    padding-bottom: 10px;
  }
}

.header-buttons {
  justify-content: space-between;
  float: right;
  align-items: center;
  margin-left: auto;
}
.header-buttons > :first-child {
  margin-right: 10px;
}
@media only screen and (max-width: 755px) {
  .header-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
  }
  .header-buttons > :first-child {
    margin-right: 0px;
  }
  .header-buttons > :last-child {
    margin-top: 10px;
  }
}

.section-intro {
  padding-top: 52px;
  padding-bottom: 100px;
  padding-right: 156px;
  padding-left: 156px;
  text-align: center;
  max-width: 1264px;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .section-intro {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media only screen and (max-width: 620px) {
  .section-intro {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.buttons {
  margin-top: 72px;
}
.buttons > :first-child {
  margin-right: 20px;
}
@media only screen and (max-width: 745px) {
  .buttons {
    height: 130px;
    display: flex;
    flex-direction: column;
  }
  .buttons > :first-child {
    margin-right: 0px;
  }
  .buttons > :last-child {
    margin-top: auto;
  }
}

.video-container {
  margin-top: 60px;
}

.section-saas {
  text-align: center;
  max-width: 1264px;
  margin: 200px auto 0px auto;
}
@media only screen and (max-width: 800px) {
  .section-saas {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media only screen and (max-width: 620px) {
  .section-saas {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.intro-sass-header {
  font-size: 48.1304px;
  color: #23293d;
}

.intro-sass-subheader {
  margin-top: 32px;
  margin-bottom: 36px;
  font-size: 24px;
  color: black;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 200;
}

.img-triplet {
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.items {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 126px;
  padding: 30px;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .items > :not(:first-child) {
    margin-top: 10px;
  }
}

.item {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.logo-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  max-width: 360px;
  text-align: center;
  color: #000000;
}

.logo-text-white {
  font-weight: 600;
  font-size: 48px;
  color: white;
}
.logo-text-white_small {
  margin-top: 32px;
  font-weight: 200;
  font-size: 32.087px;
  text-align: center;
  color: #fff;
}

.radiant-container {
  background: linear-gradient(96.95deg, #ff2473 0.26%, #de063a 72.22%);
  padding: 43px;
  border-radius: 20px;
  margin: 0 auto;
  width: auto;
}
@media only screen and (max-width: 800px) {
  .radiant-container {
    width: auto;
  }
}

.section-Icenter {
  text-align: center;
  display: flex;
  max-width: 1264px;
  margin: 180px auto 0px auto;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
}
@media only screen and (max-width: 800px) {
  .section-Icenter {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media only screen and (max-width: 620px) {
  .section-Icenter {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.item-steps {
  display: flex;
  margin-top: 110px;
  justify-content: space-evenly;
  max-width: 1088px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 800px) {
  .item-steps {
    display: flex;
    max-width: 650px;
    margin-left: 0;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 620px) {
  .item-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.item-steps > :first-child {
  padding-left: 0px;
}

.item-step {
  max-width: 280px;
  display: flex;
  color: black;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .item-step {
    display: flex;
  }
}
@media only screen and (max-width: 620px) {
  .item-step {
    display: flex;
    flex-direction: column;
  }
}

.vec-container {
  align-self: center;
  margin-right: 15px;
}
@media only screen and (max-width: 620px) {
  .vec-container {
    transform: rotate(90deg);
    margin-right: 0px;
  }
}

.active-step {
  color: #de063a;
}

.underlined {
  text-decoration: underline;
  padding-right: 20px;
  padding-left: 20px;
}
@media only screen and (max-width: 820px) {
  .underlined {
    padding-right: 0px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 620px) {
  .underlined {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.vector {
  margin-left: 50px;
}
@media only screen and (max-width: 820px) {
  .vector {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 620px) {
  .vector {
    transform: rotate(90deg);
  }
}

.thin-line {
  border: 1px solid #898989;
  margin-top: 24px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.platform-container {
  margin-top: 54px;
  width: 100%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1000px) {
  .platform-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media only screen and (max-width: 800px) {
  .platform-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.platform-container > img {
  justify-content: center;
  border-radius: 20px;
  width: 100%;
}

.numberCircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: none;
  border: 3px solid #666666;
  color: #666666;
  text-align: center;
  font-size: 24px;
}

.active-circle {
  color: #de063a;
  border: 4px solid #de063a;
}

.section-growing {
  text-align: center;
  max-width: 1264px;
  margin: 180px auto 0px auto;
}

.connectors-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.comp-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  grid-column-gap: 40px;
  grid-row-gap: 26px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1400px) {
  .comp-row {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 1100px) {
  .comp-row {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 800px) {
  .comp-row {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 550px) {
  .comp-row {
    grid-template-columns: auto;
  }
}

.comp-row-mid {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
}
@media only screen and (max-width: 745px) {
  .comp-row-mid {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .comp-row-mid > :not(:first-child) {
    margin-top: 10px;
  }
}

.section-today {
  justify-content: center;
  text-align: center;
  margin: 150px auto 0px auto;
  max-width: 1264px;
}
@media only screen and (max-width: 800px) {
  .section-today {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media only screen and (max-width: 620px) {
  .section-today {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.today-header {
  font-size: 48px;
  color: black;
  font-size: 48px;
}

.card-item {
  height: 784px;
  max-width: 380px;
  border: 1px solid #ff2473;
  padding: 30px;
  border-radius: 20px;
}

.card-item-dark {
  background: linear-gradient(162.37deg, #313a55 9.74%, #23293d 100%);
  height: 784px;
  max-width: 380px;
  border-radius: 20px;
  color: white;
  padding: 30px;
}

@media only screen and (max-width: 400px) {
  .top-marg {
    margin-top: 50px;
  }
}

.card-items {
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  display: grid;
  margin-top: 30px;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 1400px) {
  .card-items {
    grid-template-columns: auto auto;
  }
  .card-items > :last-child {
    justify-self: center;
    grid-column: span 2;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1100px) {
  .card-items {
    grid-template-columns: auto;
  }
  .card-items > :last-child {
    justify-self: center;
    grid-column: span 2;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 820px) {
  .card-items {
    grid-template-columns: auto;
    font-size: 75%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .card-items > :first-child {
    margin-bottom: 15px;
  }
  .card-items > :last-child {
    grid-column: span 1;
    margin-top: 15px;
  }
}

.medium-line {
  font-weight: 600;
  font-size: 24px;
}

.thin-line-dark {
  border: 1px solid #000;
}

.card-header {
  font-weight: 600;
  font-size: 48px;
}

.card-header-dark {
  font-weight: 600;
  font-size: 48px;
  background: -webkit-linear-gradient(90deg, #ff2473 39.52%, #30bced 80.17%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-price {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 48px;
}

.mini-text {
  font-weight: 600;
  font-size: 12.0326px;
  color: #666666;
}

.radiant-small-container {
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(96.95deg, #ff2473 0.26%, #de063a 72.22%);
  color: white;
  border-radius: 20px;
  margin: 30px auto 0px auto;
}

.dark-text-cont {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  color: black;
}

.cont-header {
  font-size: 32px;
  font-weight: 600;
}

.cont-subheader {
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 200;
}

.questions-container {
  max-width: 1264px;
  text-align: initial;
  margin: 70px auto 0px auto;
}

.questions {
  padding-top: 20px;
  padding-left: 15px;
}

.question {
  display: flex;
  font-size: 24px;
  cursor: pointer;
  transition: 0.4s;
  align-items: center;
}
.question > img {
  height: 16px;
  width: 8px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 30px;
}

.executions {
  font-weight: 600;
  font-size: 14px;
  color: #898989;
}

.small-line {
  margin-top: 28px;
}

.individual-text {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 2px;
}

.individual-text-last {
  font-weight: 600;
  font-size: 24px;
  height: 36px;
  color: black;
  margin-top: 34px;
  margin-bottom: 7px;
}

.section-control {
  padding: 0px 140px 0px 140px;
  text-align: center;
  max-width: 1264px;
  margin: 140px auto 140px auto;
}
@media only screen and (max-width: 1000px) {
  .section-control {
    padding: 0px 40px 0px 40px;
  }
}
@media only screen and (max-width: 800px) {
  .section-control {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media only screen and (max-width: 620px) {
  .section-control {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.intro-header-control {
  font-weight: 600;
  font-size: 48px;
}

.subheader-text {
  font-weight: 200;
  font-size: 24px;
}

.control-container {
  margin-top: 76px;
  justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 1300px) {
  .control-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 800px) {
  .control-container {
    display: grid;
    grid-template-columns: auto;
  }
  .control-container > :not(:first-child) {
    margin-top: 10px;
  }
}

.control-container:last-child {
  flex-grow: 0.1;
}

.control-card {
  padding: 9px;
  display: flex;
  max-width: 360px;
  height: 156px;
  background: #ffffff;
  border: 1px solid rgba(228, 225, 225, 0.5);
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .control-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.control-text-header {
  font-weight: 600;
  font-size: 18px;
  display: flex;
}

.control-text-subheader {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  display: flex;
}

.control-text {
  margin-left: 16px;
  justify-content: flex-start;
  width: inherit;
}

.control-image {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}

.imprint {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 300px;
  padding-bottom: 150px;
}

.imprint div {
  padding-top: 30px;
}

.imprint-list-block {
  padding-left: 20px;
}

.dark-link {
  color: #233046;
}

.dark-link:hover {
  color: #000;
}

.demo-section {
  max-width: 1300px;
  margin: 0 auto;
}

.book-demo {
  padding-top: 160px;
  padding-bottom: 150px;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  margin: 0 auto;
  justify-content: space-between;
}
.book-demo > .pipedriveWebForms {
  padding-top: 20px;
}
@media only screen and (max-width: 1300px) {
  .book-demo > .pipedriveWebForms {
    align-self: center;
  }
}
@media only screen and (max-width: 600px) {
  .book-demo > .pipedriveWebForms {
    width: 300px;
  }
}
@media only screen and (max-width: 1300px) {
  .book-demo {
    display: flex;
    flex-direction: column;
  }
}

.loader-container {
  height: 729px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #FF2473;
  border-top: 16px solid #DE063A;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.book-demo div {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 600px;
}
@media only screen and (max-width: 1300px) {
  .book-demo div {
    align-self: center;
  }
}
@media only screen and (max-width: 550px) {
  .book-demo div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.bullet {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.bullet > :last-child {
  font-size: 24px;
}

.title-header {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 25px;
}

.text {
  font-weight: normal;
  font-size: 24px;
}

button {
  border: 1px solid transparent;
  outline: 0;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  width: auto;
  text-align: center;
  padding: 0.7rem 1.6rem;
  min-height: 1.8rem;
  border-radius: 25px;
  justify-content: center;
  cursor: pointer;
}

.big-rad {
  height: 36px;
  padding: 6px 24px;
  font-size: 16px;
}

button.primary {
  background: linear-gradient(90.3deg, #ff2473 0.33%, #de063a 99.81%);
  color: #fff;
}

button.secondary {
  border: 1px solid #ff2473;
  background: none;
  color: #fff;
}

button.dark-text {
  color: #313a55;
  border: 1px solid #ff2473;
  background: none;
}

button.dark-text-cont {
  color: #313a55;
  border: 1px solid #ff2473;
  background: white;
}

.custom-select {
  position: relative;
  font-family: Arial;
  background: #eaf2f4;
  border: 1px solid #b8d0d9;
  box-sizing: border-box;
  border-radius: 10px;
  height: 36px;
  margin-top: 34px;
  margin-bottom: 7px;
}

.dark {
  background: #313a55;
  border: 1px solid #30bced;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  display: flex;
  padding-left: 10px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #296f91 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #296f91 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dark-letters {
  color: #000000;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #313a55;
  border: 1px solid #30bced;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
}

.light-background {
  background: #eaf2f4;
  border: 1px solid #b8d0d9;
}
.light-background > div {
  color: black;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.card-comp {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  width: 220px;
  height: 124px;
}

.comp-text-header {
  font-weight: bold;
  font-size: 18px;
}

.comp-text-subheader {
  font-weight: 300;
  font-size: 14px;
}

.comp-text {
  text-align: initial;
  margin-left: 10px;
}

.comp-image {
  margin: auto;
}/*# sourceMappingURL=main.css.map */