.demo-section {
  max-width: 1300px;
  margin: 0 auto;
}
.book-demo {
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  margin: 0 auto;
  justify-content: space-between;  
  & > .pipedriveWebForms {
    padding-top: 20px;
    @media only screen and (max-width: 1300px) {
      align-self: center;
    }
    @media only screen and (max-width: 600px) {
      width: 300px;
    }
  }
  @media only screen and (max-width: 1300px) {
    display: flex;
    flex-direction: column;
  }
}
.loader-container {
  height: 729px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 16px solid #FF2473; 
  border-top: 16px solid #DE063A;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.book-demo div {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 600px;
  @media only screen and (max-width: 1300px) {
    align-self: center;
  }
  @media only screen and (max-width: 550px) {
    height: fit-content;
  }
}
.bullet {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  & > :last-child {
    font-size: 24px;
  }
}

.title-header {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 25px;
}
.text {
  font-weight: normal;
  font-size: 24px;
}