.imprint {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 300px;
  padding-bottom: 150px;
}

.imprint div {
  padding-top: 30px;
}

.imprint-list-block {
padding-left: 20px;

}

.dark-link {
  color: $color-primary-dark;
}

.dark-link:hover {
  color: $color-black;
}