.section-intro {
  padding-top: 52px;
  padding-bottom: 100px;
  padding-right: 156px;
  padding-left: 156px;
  text-align: center;
}
.intro-header {
  font-size: 48.1304px;
  color: #de063a;
}
.buttons {
  margin-top: 72px;
}
.gif-container {
  margin-top: 60px;
}
