.section-control {
  padding: 0px 140px 0px 140px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
  @media only screen and (max-width: 1000px) {
    padding: 0px 40px 0px 40px;
  }
  @media only screen and (max-width: 800px) {
    padding-right: 44px;
    padding-left: 44px;
  }
  @media only screen and (max-width: 620px) {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.intro-header-control {
  font-weight: 600;
  font-size: 48px;
}
.subheader-text {
  font-weight: 200;
  font-size: 24px;
}
.control-container {
  margin-top: 76px;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: auto auto auto;
  @media only screen and (max-width: 1300px) {
    display: grid;
    grid-template-columns: auto auto;
  }
  @media only screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: auto;
    & > :not(:first-child) {
      margin-top: 10px;
    }
  }
}
.control-container:last-child {
  flex-grow: 0.1;
}

.control-card {
  padding: 9px;
  display: flex;
  max-width: 360px;
  height: 156px;
  background: #ffffff;
  border: 1px solid rgba(228, 225, 225, 0.5);
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  @media only screen and (max-width: 800px) {
    height: fit-content;
  }
}
.control-text-header {
  font-weight: 600;
  font-size: 18px;
  display: flex;
}
.control-text-subheader {
  font-weight: normal;
  font-size: 14px;
  display: flex;
}
.control-text {
  margin-left: 16px;
  justify-content: flex-start;
  width: inherit;
}
.control-image {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}
