.section-saas {
  padding-right: 140px;
  padding-left: 140px;
  text-align: center;
  max-width: 1264px;
  margin: 200px auto 0px auto;
  @media only screen and (max-width: 800px) {
    padding-right: 44px;
    padding-left: 44px;
  }
  @media only screen and (max-width: 620px) {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.intro-sass-header {
  font-size: 48.1304px;
  color: #23293d;
}
.intro-sass-subheader {
  margin-top: 32px;
  margin-bottom: 36px;
  font-size: 24px;
  color: black;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 200;
}
.img-triplet {
  margin: 0 auto;
  width: 90px;
  height: 90px;
}
.items {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 126px;
  padding: 30px;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    & > :not(:first-child) {
      margin-top: 10px;
    }
  }
}
.item {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.logo-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  max-width: 360px;
  text-align: center;
  color: #000000;
}
.logo-text-white {
  font-weight: 600;
  font-size: 48px;
  color: white;
  &_small {
    margin-top: 32px;
    font-weight: 200;
    font-size: 32.087px;
    text-align: center;
    color: #fff;
  }
}
.radiant-container {
  background: linear-gradient(96.95deg, #ff2473 0.26%, #de063a 72.22%);
  padding: 43px;
  border-radius: 20px;
  margin: 0 auto;
  width: auto;

  @media only screen and (max-width: 800px) {
    width: auto;
  }
}
