.section-growing {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 180px;
}
.growing-header {
  font-size: 48.1304px;
  color: black;
}
.connectors-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  height: 500px;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 745px) {
    height: fit-content;
    align-items: center;  
    & > :not(:first-child) {
        margin-top: 10px;
    } 
    }
}
.comp-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;  
  justify-content: space-around;
  padding-right: 40px;
  grid-column-gap: 40px;
  grid-row-gap: 26px;
  @media only screen and (max-width: 745px) {
  display: flex;
  flex-direction: column;  
  padding-right: 0px;
  & > :not(:first-child) {
    margin-top: 10px;
} 
  
}
}
.comp-row-mid {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  @media only screen and (max-width: 745px) {
    display: flex;
    flex-direction: column;    
    padding-left: 0px;
    & > :not(:first-child) {
        margin-top: 10px;
    } 
  }
}
