.section-growing {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}
.growing-header {
  font-size: 48.1304px;
  color: black;
}
.connectors-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  height: 500px;
  flex-direction: column;  
}
.comp-row {
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
}
.comp-row-mid {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
}