<footer class="footer">
  <div class="row">
    <div class="col">
      <div class="sub-col">
        <div class="left-ft-up">
          <embed src="logos/oihheaderlogo.svg" />
        </div>
        <div class="left-ft-down">
          <p>
            Cloud Ecosystem e.V.
            <br />
            Harry-Blum-Platz 2
            <br />
            50678 Cologne, Germany
          </p>
        </div>
      </div>

      <div class="right-img">
        <embed src="logos/bundeslogo.svg" />
      </div>
    </div>

    <div class="col">
      <div class="left-list">
        <span class="small-header">Features</span>
        <div class="first-list">
          <a href="#integration-center">Integration Center</a><br />
          <a href="#flow-templates">Flow Templates</a><br />
          <a href="#connectors">Connectors</a><br />
        </div>
        <span class="small-header">Pricing</span>
      </div>
      <div class="right-list">
        <span class="small-header">Resources</span>
        <div class="first-list">
          <a href="https://github.com/">GitHub</a><br />
          <a href="imprint">Terms of service</a><br />
          <a href="imprint">Data Privacy</a><br />
          <a href="imprint">Legal Notice</a><br />
          <a href="contact-us">Contact Us</a><br />
        </div>
      </div>
    </div>
  </div>
</footer>