<footer class="footer">
  <div class="row">
    <div class="col">
      <div class="sub-col">
        <div class="left-ft-up">
          <img src="assets/oihlog.png" />
        </div>
        <div class="left-ft-down">
          <p>
            Cloud Ecosystem e.V.
            <br />
            Harry-Blum-Platz 2
            <br />
            50678 Cologne, Germany
          </p>
        </div>
      </div>

      <div class="right-img">
        <img src="assets/Förderlogo.png" />
      </div>
    </div>

    <div class="col">
      <div class="left-list">
        <span class="small-header">Features</span>
        <div class="first-list">
          <a href="#integration-center" class="footer-link">Integration Center</a><br />
          <a href="#flow-templates"class="footer-link">Flow Templates</a><br />
          <a href="#connectors" class="footer-link">Connectors</a><br />
        </div>
        <span class="small-header">Pricing</span>
      </div>
      <div class="right-list">
        <span class="small-header">Resources</span>
        <div class="first-list">
          <a href="https://github.com/openintegrationhub" class="footer-link">GitHub</a><br />
          <a href="terms-of-service" class="footer-link">Terms of service</a><br />
          <a href="privacy" class="footer-link">Data Privacy</a><br />
          <a href="legal-notice" class="footer-link">Legal Notice</a><br />
          <a href="contact-us" class="footer-link">Contact Us</a><br />
        </div>
      </div>
    </div>
  </div>
</footer>
