button {
  border: 1px solid transparent;
  outline: 0;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  width: auto;
  text-align: center;
  padding: 0.7rem 1.6rem;
  min-height: 1.8rem;
  border-radius: 25px;
  justify-content: center;
  cursor: pointer;
}

.big-rad {
  height: 36px;
  padding: 6px 24px;
  font-size: 16px;
}
button.primary {
  background: linear-gradient(90.3deg, #ff2473 0.33%, #de063a 99.81%);
  color: #fff;
}

button.secondary {
  border: 1px solid #ff2473;
  background: none;
  color: #fff;
}
button.dark-text {
  color: #313a55;
  border: 1px solid #ff2473;
  background: none;
}
button.dark-text-cont {
  color: #313a55;
  border: 1px solid #ff2473;
  background: white;
}
