<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Saira:100,300,400,600,700,900"
      rel="stylesheet"
    />
    <!--<link rel="stylesheet" href="css/icon-font.css">-->
    <script src="scripts.js"></script>
    <script>
      window.pipedriveLeadboosterConfig = {
        base: "leadbooster-chat.pipedrive.com",
        companyId: 2390058,
        playbookUuid: "efdd0360-8a08-4122-9723-81f1e2f32df7",
        version: 2,
      };
      (function () {
        var w = window;
        if (w.LeadBooster) {
          console.warn("LeadBooster already exists");
        } else {
          w.LeadBooster = {
            q: [],
            on: function (n, h) {
              this.q.push({ t: "o", n: n, h: h });
            },
            trigger: function (n) {
              this.q.push({ t: "t", n: n });
            },
          };
        }
      })();
    </script>
    <script
      src="https://leadbooster-chat.pipedrive.com/assets/loader.js"
      async
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="assets/oih.png" />

    <title>OIH Platform</title>
  </head>

  <body>
    <script src="https://consent.cookiefirst.com/banner.js" data-cookiefirst-key="8dce615b-f20b-44b8-bd77-ab18be7a1301"></script>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
